* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    max-width: 800px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #292c6d;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #292c6d;
    color: #ffffff;
}

tr:hover {
    background-color: #f0f0f0;
}

@media (max-width: 600px) {
    th, td {
        padding: 10px;
        font-size: 0.9em;
    }
}

a{
    color : rgb(0, 104, 161);
    text-decoration:underline;
}