.main {
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}
.heading {
  text-align: center;
  padding: 30px;
}

.description {
  padding: 0px 50px;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.heading2 {
  display: inline-block;
  padding: 30px;
  width: 49%;
}

.new {
  background-color: antiquewhite;
}

.ongoing {
  background-color: aquamarine;
}

.edone {
  margin-left: 10px;
  display: inline-block;
  width: 49%;
  height: 300px;
  border: 0.5px solid black;
  border-radius: 3px;
}

.card1 {
  width: 80%;
  height: 500px;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #020344, #28b8d5);
  border-radius: 16px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card1-top {
  width: 100%;
}

svg {
  padding: 6px;
}

svg:nth-child(1):hover {
  fill: rgba(255, 0, 68, 0.738);
}

svg:nth-child(2):hover {
  fill: rgb(126, 126, 126);
}

svg:nth-child(3):hover {
  fill: rgb(68, 5, 255);
}

.headtitle {
  font-size: 3rem;
}

.headsubtitle {
  color: rgb(204, 203, 203);
  font-size: 1rem;
}

.card1-bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.carousel-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: #c3c2c2;
  color: #333;
  border: 1px solid #ddd;
  margin: 0 10px;
  border-radius: 8px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

.carousel-item span {
  display: inline-block;
  white-space: normal;
}

@media (max-width: 480px) {
  .carousel-item {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .card1 {
    flex-direction: column;
  }
  .card1-top {
    margin-top: 50%;
  }
  .card1-bottom {
    width: 100%;
    align-items: end;
    flex-direction: row;
  }
  .headtitle {
    font-size: 2rem;
  }
  svg {
    fill: rgba(255, 255, 255, 0.738);
  }
}
