body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f2f1;
}

.container {
  max-width: 900px;
  margin: 2em auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2rem;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #28b8d5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-details {
  margin-top: 20px;
  text-align: center;
}

.profile-details h2 {
  font-size: 28px;
  color: #020344;
  margin-bottom: 10px;
}

.profile-details p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.section {
  margin-top: 40px;
}

.section h3 {
  color: #0cb0d0;
  border-bottom: 3px solid #28b8d5;
  padding-bottom: 5px;
  font-size: 24px;
  text-transform: uppercase;
}

.section p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.section table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section table th,
.section table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.section table th {
  background-color: #f2f2f2;
  color: #333;
}

.section table td {
  background-color: #ffffff;
  color: #555;
}

.section table tr:hover {
  background-color: #f5f5f5;
}

.back-button a {
  text-decoration: none;
  background-color: #28b8d5;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.back-button {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.back-button a:hover {
  background-color: #6163bd;
  transform: translateY(-2px);
}

.edit-button button,
.confirm-button button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #28b8d5;
  color: white;
  border: transparent;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.edit-button button:hover,
.confirm-button button:hover {
  background-color: #6163bd;
  transform: translateY(-2px);
}
